.DS_Store
Web/.idea/encodings.xml
Web/.idea/jsLibraryMappings.xml
Web/.idea/misc.xml
Web/.idea/modules.xml
Web/.idea/scopes/scope_settings.xml
Web/.idea/vcs.xml
Web/.idea/Web.iml
Web/.idea/workspace.xml
