<div id="adminOverlay" class="">
</div>

<div id="addSportModal" class="adminModal">
    <div class="adminCloseButton"></div>
    <h2 class="adminModalTitle">Add New Sport</h2>
    <form id="createSportForm">
        <input id="createSportName" class="adminFormElement" type="text" name="sportName" placeholder="Sport Name" required>
        <input id="submitSport" class="formButton" type="submit" value="Create">
    </form>
</div>

<div id="deleteSportModal" class="adminModal">
    <div class="adminCloseButton"></div>
    <h2 class="adminModalTitle">Are You Sure?</h2>
    <div class="buttonContainer">
        <div id="yesDelete" class="formButton">Yes</div>
        <div id="noDelete" class="formButton">No</div>
    </div>
</div>

<div id="addTeamModal" class="adminModal">
    <h2 class="adminFormTitle">Add Team</h2>
</div>

<div id="deleteTeamModal" class="adminModal">
    <h2 class="adminFormTitle">Delete Team</h2>
</div>

<div id="addGameModal" class="adminModal">
    <h2 class="adminFormTitle">Add Game</h2>
</div>

<div id="addResultsModal" class="adminModal">
    <h2 class="adminFormTitle">Add Game Results</h2>
</div>

<div id="assignCaptainModal" class="adminModal">
    <h2 class="adminFormTitle">Assign Team Captain</h2>
</div>