html {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/tweed.png");
    height: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.center {
    width: 1222px;
    margin: 30px auto;
}
.section {
    position: relative;
    float: left;
    font-size: 12px;
    background-color: #CCCCCC;
    width: 1200px;
    height: auto;
    min-height: 500px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: 3px 3px 5px #000000;*/
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 4%;
}

.pageHeader {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}

.sectionHeader {
    text-align: center;
    font-size: 2em;
}

.subHeader {
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
}

.noContent {
    text-align: center;
    font-size: 1.5em;
}

#studentSchedule, #teamSchedule, #formView {
    position: relative;
    float: left;
    display: inline-block;
    margin: 1%;
    width: 65%;
    height: 500px;
    border-radius: 10px;
    padding: 1em;
    background-color: #999999;
    border: 1px solid #000000;
}

#studentTeamList, #playerList, #adminButtons {
    display: inline-block;
    margin: 1%;
    width: 25%;
    height: 500px;
    border-radius: 10px;
    padding: 1em;
    background-color: #999999;
    border: 1px solid #000000;

}

::-webkit-input-placeholder {
    color: #888888;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    text-align: center;
}


.teamButton {
    display: block;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    background-color: transparent;
    padding: .5em;
    border-radius: 5px;
    cursor: url("../img/PerunaSmall.png"), auto;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.teamButton:hover, .teamButtonSelected:hover {
    color: #FFFFFF;
    background-color: #0000FF;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.teamButtonSelected {
    display: block;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    padding: .5em;
    border-radius: 5px;
    cursor: url("../img/PerunaSmall.png"), auto;
    color: #FFFFFF;
    background-color: darkblue;
}

.scheduleEvent {
    border: 1px solid #000000;
    font-size: 1.4em;
    margin-top: 5px;
    text-align: center;
}

.eventDate {
    display: inline-block;
    margin: 0px;
    min-width: 20%;
    padding: 10px;
    text-align: center;
}

.eventTime {
    display: inline-block;
    margin: 0px;
    min-width: 10%;
    padding: 10px;
    text-align: center;
}

.eventOpponent {
    display: inline-block;
    margin: 0px;
    min-width: 25%;
    padding: 10px;
    text-align: center;
}

.eventOpponent > a {
    text-decoration: none;
    color: #000000;
    border: 1px solid red;
    border-radius: 5px;
    padding: .3em;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.eventOpponent > a:hover {
    background-color: blue;
    color: white;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.eventOpponent > a:visited {
    text-decoration: none;
}

.vs {
    display: inline-block;
    margin: 0px;
    min-width: 5%;
    padding: 10px;
    text-align: center;
}

.eventLocation {
    display: inline-block;
    margin: 0px;
    min-width: 25%;
    padding: 10px;
    text-align: center;
}

.adminButton {
    display: block;
    margin: 5px;
    width: 91%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    background-color: transparent;
    padding: .5em;
    border-radius: 5px;
    cursor: url("../img/PerunaSmall.png"), auto;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.adminButton:hover, .adminButtonSelected:hover {
    color: #FFFFFF;
    background-color: #0000FF;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.adminButtonSelected {
    display: block;
    margin: 5px;
    width: 91%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    padding: .5em;
    border-radius: 5px;
    cursor: url("../img/PerunaSmall.png"), auto;
    color: #FFFFFF;
    background-color: darkblue;
}

#sportContainer {
    position: relative;
    float: left;
    margin-top: 20px;
    text-align: center;
}

.sportView {
    display: block;
    width: 240px;
    padding: 10px;
    height: 105px;
    top: 0;
    white-space: nowrap;
    margin: 15px;
    text-align: center;
    background-color: #999999;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: url("../img/PerunaSmall.png"), auto;
    transition: all 0.4s ease;
}

.sportView:hover {
    color: #FFFFFF;
    box-shadow: inset -300px 0 0 0 #0000FF;
    transition: all 0.4s ease;
}

.sportViewSelected {
    display: inline-block;
    width: 240px;
    padding: 10px;
    height: 100px;
    margin: 15px;
    text-align: center;
    background-color: #999999;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: url("../img/PerunaSmall.png"), auto;
}

.sportViewContainer {
    position: relative;
    float: left;
    padding: 5px;
    top: 0;
    width: 290px;
}

#addNewSport {
    border: 2px solid red;
    width: 240px;
    padding: 10px;
    min-height: 100px;
    white-space: nowrap;
    margin: 15px;
    text-align: center;
    background-color: #999999;
    border-radius: 5px;
    cursor: url("../img/PerunaSmall.png"), auto;
    transition: all 0.4s ease;
}

#addNewSport:hover {
    color: #FFFFFF;
    box-shadow: inset -300px 0 0 0 #0000FF;
    transition: all 0.4s ease;
}

.sportTitle {
    margin: 10px 0px;
    font-size: 2em;
}

.sportInfo {
    font-size: 1.5em;
}

.sportDefault {
    display: block;
    height: 0px;
    width: 240px;
}

.sportOptionMenu {
    float: right;
    display: none;
    width: 100%;
    height: 100%;
    color: white;
    background-color: blue;
}

.sportOptionButton {
    width: 205px;
    margin: 5px;
    padding: 10px;
    background-color: #555555;
    color: white;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.sportOptionButton:hover {
    background-color: #777777;
    transition: all 0.4s ease
}